.gridContainer {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
}

.graphics {
  grid-column: 1/3;
  grid-row: 1/3;
  background-color: #755cde;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  display: grid;
  align-items: center;
}

.graphicsImg {
  grid-column: 3/5;
  grid-row: 1/3;
  padding: 1.25rem;
}

.graphicsText {
  grid-row: 3/4;
  grid-column: 1/4;
}

.ui {
  grid-column: 1/2;
}

.apps {
  grid-column: 2/3;
}

.spanRow {
  grid-column: 1/3;
  display: grid;
}
