.gridContainer {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  gap: 1.5rem;
}

.graphics {
  grid-column: 1/6;
  grid-row: 1/3;
  background-color: #755cde;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  display: grid;
  align-items: center;
  border-radius: 8px;
  margin: auto;
  max-width: 90vw;
}

.graphicsImg {
  grid-column: 3/5;
  grid-row: 1/3;
  padding: 1.25rem;
}

.graphicsText {
  grid-row: 3/4;
  grid-column: 1/4;
}

.ui {
  grid-column: 1/3;
  padding: 1rem;
  background-color: #f6a560;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
  max-width: 90vw;
  border-radius: 8px;
}

.uiImg {
  grid-column: 2/4;
  padding: 0.5rem 0 0 0.5rem;
}
.uiText {
  grid-column: 1/3;
}

.apps {
  grid-column: 3/6;
  padding: 1rem;
  background-color: #f39e9e;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
  max-width: 90vw;
  border-radius: 8px;
}

.appsImg {
  grid-column: 2/4;
  padding: 0.5rem 0 0 0.5rem;
}

.appsText {
  grid-column: 1/3;
}

.spanRow {
  grid-column: 1/3;
  display: grid;
}
